<li id="quiz-<%= quiz.id %>">
  <%= link_to gravatar_for(quiz.user, size: 50), quiz.user %>
  <span class="user"><%= link_to quiz.user.name, quiz.user %></span>
  <span class="student><%= quiz.student %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(quiz.created_at) %> ago.
  </span>
</li>