<%= form_for(@quizzes) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :student, placeholder: "Student Name" %>
  </div>
  <div class="field">
    <%= f.text_field :score, placeholder: "How many words did the student get?" %>
  </div>  
  <%= f.submit "Submit Quiz Score", class: "btn btn-primary" %>
<% end %>